<%- include('layout/head.ejs') %>
<script src="https://cdn.ckeditor.com/4.16.1/standard/ckeditor.js"></script>
<header>
</header>
<div class="container">
    <div class="row">
        <div class="col-lg-6 mx-auto mt-4">
            <div class="card shadow">
                <div class="card-header bg-success">
                    <h3 class="text-light">Edit Member - <%= content.name.en %></h3>
                </div>
                <div class="card-body p-4">
                    <form action="/admin/updatee/<%= content._id %>" method="post" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="title">Name En</label>
                            <input type="text" name="nameEn" id="nameEn" class="form-control form-control-lg"
                                   placeholder="input title" value="<%= content.name.en %>" required/>
                        </div>
                        <div class="mb-3">
                            <label for="title">Name Hy</label>
                            <input type="text" name="nameHy" id="namehy" class="form-control form-control-lg"
                                   placeholder="input title" value="<%= content.name.hy %>" required/>
                        </div>
                        <div class="mb-3">
                            <label for="desc">Description En</label>
                            <textarea name="descEn" id="descEn" class="form-control form-control-lg"
                                      placeholder="Description" value="<%= content.desc.en %>" required><%= content.desc.en %></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="desc">Description Hy</label>
                            <textarea name="descHy" id="descHy" class="form-control form-control-lg"
                                      placeholder="Description" value="<%= content.desc.hy %>" required><%= content.desc.hy %></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="image">Select Image</label>
                            <input type="file" name="image" id="img" class="form-control form-control-lg"/>
                            <img src="/images/<%= content.image %>" width="100" class="img-thumbnail mt-1">
                        </div>
                        <input type="hidden" name="old_image1" value="<%= content.image %>">
                        <div class="mb-3 d-grid">
                            <input type="submit" name="submit" value="Update Member" class="btn btn-success btn-lg"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('layout/foot.ejs') %>
