<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta name="format-detection" content="telephone=no"/>
    <title>Contact</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-select.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/contacts.css">
    <link rel="shortcut icon" href="/css/images/favicon.svg"/>
    <script src="/js/jquery-3.3.1.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/bootstrap-select.js"></script>
    <script src="/js/jquery.form-validator.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>

<%- include('includes/header.ejs') %>

<div class="content">
    <div class="page_head_block">
        <img src="/images/5fcf47cc0ff0404f51bc8630_3367077.jpg" alt="" title=""/>
    </div>
    <div class="custom_container">
        <form action="/community" method="post" class="contact_form row" id="c_form">
            <div class="section_title col-12"><%=staticData.community_join%></div>
            <div class="field_block col-12 col-sm-6">
                <input type="text" autocomplete="off" placeholder="<%=staticData.community_surname%>" name="surname" data-validation="required"/>
                <span class="error_hint"><%=staticData.community_mandatory_surname%></span>
            </div>
            <div class="field_block col-12 col-sm-6">
                <input type="text" autocomplete="off" placeholder="<%=staticData.community_name%>" name="name" id="name" data-validation="required"/>
                <span class="error_hint"><%=staticData.community_mandatory_name%></span>
            </div>
            <div class="field_block col-12 col-sm-6">
                <input type="text" autocomplete="off" placeholder="<%=staticData.community_address%>" name="address" id="address" data-validation="required"/>
                <span class="error_hint"><%=staticData.community_mandatory_address%></span>
            </div>
            <div class="field_block col-12">
                <input type="text" autocomplete="off" placeholder="<%=staticData.community_email%>" id="email" name="email" data-validation="required"/>
<!--                <span class="error_hint"><%=staticData.community_mandatory_email%></span>-->
<!--                <span class="error_hint"><h5 id="result"></h5><%=staticData.community_mandatory_email%></span>-->
                <span class="error_hint">
							<span class="standard_hint"><%=staticData.community_mandatory_email%></span>
							<span class="individual_hint"><%=staticData.community_valid_email%></span>
						</span>
            </div>

            <div class="field_block col-12">
                <input type="text" id="phone" name="phone" autocomplete="off" placeholder="<%=staticData.community_phone%>" oninput="this.value=this.value.replace(/[^0-9+]/g,'');" data-validation="required"/>
                <span class="error_hint"><%=staticData.community_mandatory_phone%></span>
            </div>
            <div class="field_block col-12">
                <select name="subject" data-validation="required"  title="Cooking level" class="selectpicker">
                    <option value="Beginner"><%=staticData.community_subject1%></option>
                    <option value="Experienced"><%=staticData.community_subject2%></option>
                    <option value="Certified cook"><%=staticData.community_subject3%></option>
                </select>
                <span class="error_hint"><%=staticData.community_mandatory_subject%></span>
            </div>
            <div class="section_title col-12"><%=staticData.community_busines%></div>
            <div class="field_block col-12">
                <input type="text" placeholder="Facebook" name="facebook"/>
            </div>
            <div class="field_block col-12">
                <input type="text" placeholder="Instagram" name="instagram"/>
            </div>
            <div class="field_block col-12">
                <input type="text" placeholder="Youtube" name="youtube"/>
            </div>
            <div class="section_title col-12"><%=staticData.community_referral%> </div>
            <div class="field_block col-12">
                <input type="text" placeholder="Referral code" name="referral"/>
            </div>
            <div class="button_block col-12">
                <button type="submit"  class="validate_button" id="sendCommunity">SEND</button>
            </div>
            <div class="about_contacts col-12">
                <div class="block_title"><%=staticData.community_whole%></div>
                <div class="block_description"><%=staticData.community_make%></div>
                <div class="notif_block"><%=staticData.community_have%></div>
            </div>
        </form>

<!--        <script>-->
<!--            function validateEmail(email) {-->
<!--                const re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;-->
<!--                return re.test(email);-->
<!--            }-->

<!--            function validate() {-->
<!--                const $result = $("#result");-->
<!--                const email = $("#email").val();-->
<!--                $result.text("");-->

<!--                if (validateEmail(email)) {-->
<!--                    $result.text(email + " is valid :)");-->
<!--                    $result.css("color", "green");-->
<!--                } else {-->
<!--                    $result.text(email + " is not valid :(");-->
<!--                    $result.css("color", "red");-->
<!--                }-->
<!--                return false;-->
<!--            }-->

<!--            $("#email").on("input", validate);-->
<!--        </script>-->

        <script>

            $(document).on( "click","#sendCommunity", function() {
                let formData = $('#c_form').serializeArray();
                $.ajax({
                    type: "POST",
                    url: '/community',
                    data: formData,
                    success: function(result){
                        alert('You have successfully registered')
                        // $("#sus").toggleClass('invisible visible');
                        location.redirect('/');
                    },
                    error: function(result){
                        $("html, body").animate({
                            scrollTop: ($(document).height()-2000)
                        }, 1000);
                    }
                });
            });

        </script>
    </div>

    <div class="contacts_section" style="background-image: url('/images/desarrollo-web.png')">
        <div class="custom_container">
            <div class="contacts_list">
                <h2 class="list_title"><%=staticData.community_rooshe%></h2>
                <div class="list_inner">
                    <%=staticData.community_avenue%>
                    <br/><%=staticData.community_unit%>
                    <br/>
                    <br/><a href="tel:8188597667" class="phone_link">+374-43-58-24-24</a>
                    <br/>
                    <br/><a href="mailto:sales@loremusa.com">rooshe@mail.ru</a>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('includes/footer.ejs') %>

<script src="/js/main.js"></script>
</body>
</html>